#!/bin/bash

cmake -LA \
      -DCMAKE_INSTALL_PREFIX:PATH={{ dnnl_prefix }} \
      -DCMAKE_C_COMPILER:FILEPATH={{ toolchain_bin_dir }}/gcc \
      -DCMAKE_CXX_COMPILER:FILEPATH={{ toolchain_bin_dir }}/g++ \
      -DCMAKE_AR:FILEPATH={{ toolchain_bin_dir }}/gcc-ar \
      -DCMAKE_NM:FILEPATH={{ toolchain_bin_dir }}/gcc-nm \
      -DARCH_OPT_FLAGS:STRING={{ dnnl.arch_opt_flags | default('HostOpts') }} \
      -DCMAKE_BUILD_TYPE:STRING={{ dnnl.build_type | default('DEBUG') }} \
      .. 

make -j
sudo make install
