---
- name: Build Bazel
  import_tasks: roles/bazel/tasks/build_bazel.yml
  become: yes
  become_user: "{{ user }}"
  become_method: su
  become_flags: "-s /bin/bash"
  when: build_bazel == true

- name: Install Bazel (no build)
  import_tasks: roles/bazel/tasks/install_bazel.yml
  when: build_bazel == false
